div
{
  height: 200px;
  width: 200px;
}

.First-Box
{
  background-color: teal;
  border: 10px solid black;
  padding: 20px;

  font-size: 12px;
  font-weight: bold;
}

.Second-Box
{
  background-color: gold;
  border: 20px solid black;
  border-width: 20px 10px;
  
  margin-left: 260px;
}

.Third-Box
{
  border: 10px solid black;
  background: rgb(128, 32, 32);
  margin-left: 40px;
}